<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- cadena de coneccion para MS Access -->
		<add name="msaccess"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=|DataDirectory|\\basedatos.accdb"
         providerName="System.Data.OleDb" />
		<add name="SqlServerAgraria"
		connectionString="Server=localhost\\SQLEXPRESS;Database=Agraria;Trusted_Connection=True;TrustServerCertificate=True;"
		providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>
</configuration>