<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- cadena de coneccion para MS Access -->
		<add name="msaccess"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=|DataDirectory|\\basedatos.accdb"
         providerName="System.Data.OleDb" />
		<add name="SqlServerAgraria"
		connectionString="Server=(localdb)\MSSQLLocalDB;Database=Agraria;Trusted_Connection=True;TrustServerCertificate=True;"
		providerName="Microsoft.Data.SqlClient"/>
		<add name="SqlServerAgrariaLocal"
		connectionString="Data Source = (localdb)\MSSQLLocalDB; Integrated Security = True; Persist Security Info = False; Pooling = False; MultipleActiveResultSets = False; Encrypt = True; TrustServerCertificate = True; Application Name = 'SQL Server Management Studio'; Command Timeout = 30; Initial Catalog = Agraria"
		providerName="Microsoft.Data.SqlClient"/>

	</connectionStrings>
</configuration>